body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  font-family: verdana;
  font-size: 20px;
}

p {
  font-family: verdana;
  font-size: 10px;
}

#metp {
  width: 100%;
  background-color: grey;
}

#metpBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: right;
  line-height: 30px;
  color: white; 
}
