body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

metp {
  width: 100%;
  background-color: grey;
}

metpBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
